body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  margin: 0px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 40px;
}

.titulo {
  margin-bottom: 50px;
  margin-top: 50px;
}

.icon {
  display: inline;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 60px;
}

.item a {
  border: 2.5px solid transparent;
}

.item a:hover {
  border: 2.5px solid #ee2211;
}

.texto::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #ee2211;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
}

.texto {
  max-width: 500px;
  padding-left: 70px;
  padding-right: 40px;
  padding-top: 80px;
  text-align: right;
  font-size: 20px;
  position: relative;
}

.imagem {
  padding: 0px;
}

.bicicleta {
  max-width: 100%;
  grid-column: span 3;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.item a {
  background-color: white;
  padding: 15px 30px;
  border-radius: 4px;
}

p {
  margin: 0px;
  font-size: 20px;
}

.vermais {
  display: inline-block;
  text-decoration: none;
  background-color: #ee2211;
  color: white;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 4px;
  place-self: end;
}

.vermais:hover {
  background-color: #7f160d;
}

.biketitle {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 150px;
  margin-right: 150px;
}

.vantagens {
  display: inline-block;
  font-size: 64px;
  color: #c6c6c6;
  font-weight: bold;
  padding-top: 150px;
  text-align: center;
}

.maisitens {
  background-color: white;
  margin-top: 0px;
  padding: 60px 50px 60px 50px;
  text-align: start;
}

.maisitens li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  list-style: none;
  padding: 20px;
  margin: 0px;
}

.maisitens li:nth-child(odd) {
  background: #f7f7f7;
}

.maisitens li:hover {
  border-left: 10px solid #ee2211;
}

.grande {
  padding-right: 30px;
  background-image: url("/img/onda.svg");
  background-size: contain;
}

.direitos {
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
}

span {
  font-weight: bold;
}

.itens2 {
  margin-bottom: 50px;
}

header {
  display: grid;
  justify-items: center;
}
